*{
	padding: 0;
	margin: 3px;
	box-sizing: border-box;
}
body{

	background:linear-gradient(100deg, white, green, white);
	background-repeat: no-repeat;		
}
#main{
	/*outline-style: dashed;*/
	animation: doikhung 900ms linear infinite;
}
@keyframes doikhung {
	from{
		outline-style: dashed;
		outline-color: red;
	}
	to{
		outline-style: dotted;
		outline-color: black;
	}
}
@keyframes doimau{
	from{
		text-shadow: 3px 3px 5px yellow;
	}
	to{
		text-shadow: 3px 3px 5px purple;
	}
}
#list ul li a{
	color: black;
	text-decoration: none;
	animation: doimau 900ms linear infinite;
}
#list ul li:hover{
	transition: 900ms linear;
	background-color: #fff;
}

li{
	display: inline-block;
	/*display: none;*/
	padding: 16px;
	list-style-type: none;
}
#main h1:first-child{

	/*text-shadow: 2px 2px 5px red;*/
	/*padding: 16px 16px;*/
	text-align: center;
	animation: doimau 900ms linear infinite;
}
#list{
	background: linear-gradient(45deg,lightblue,silver, lightblue);
}